@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



div .product_id {
    position: relative;
    width: 501px;
    height: 20px;
    /* left: 1306px;
    top: 1471px; */
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 154% */
  
    color: #aaa;
  }
  
  div .product_code {
    position: relative;
    width: 501px;
    height: 20px;
    /* left: 1306px;
    top: 1471px; */
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 154% */
  
    color: #aaa;
  }
  
  div .product_category {
    position: relative;
    width: 501px;
    height: 20px;
    /* left: 1306px;
    top: 1471px; */
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 154% */
  
    color: #666666;
  }
  
  div .product_name {
    /* Clearance $54.98 */
  
    position: relative;
    width: 501px;
    height: 60px;
    /* left: 1306px;
    top: 1498px; */
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 29px;
    /* identical to box height, or 143% */
  
    color: #000000;
  }

  div .product_brand {
    /* Clearance $54.98 */
  
    position: relative;
    width: 501px;
    height: 80px;
    /* left: 1306px;
    top: 1498px; */
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    /* identical to box height, or 143% */
  
    color: #000000;
  }

  div .product_price {
    /* Clearance $54.98 */
  
    position: relative;
    width: 501px;
    height: 60px;
    /* left: 1306px;
    top: 1498px; */
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 29px;
    /* identical to box height, or 143% */
  
    color: #c31e45;
  }

  button .product_color {
    position: relative;
    display: flex;
    width: 501px;
    height: 80px;
    /* left: 1298px;
  top: 908px; */
  
    background: #aaa;
    border-radius: 0px;
  }

  div button .product_size {
    position: relative;
    display: flex;
    width: 100px;
    height: 160px;
    /* left: 1000px;
    top: 1093px; */
  
    background: #8e9090;
    border-radius: 10px;
  }
  
  div .product_quantity {
    display: flex;
    width: 300px;
  }
  
  .product_cart {
    position: relative;
    width: 384px;
    height: 48px;
    /* left: 1306px;
    top: 2147px; */
  
    background: #222;
    border-radius: 0px;
  }
  
  .product_checkout {
    position: relative;
    width: 384px;
    height: 48px;
    /* left: 1306px;
    top: 2147px; */
  
    background: #222;
    border-radius: 0px;
  }
  
  div .product_description {
    position: relative;
    width: 501px;
    height: 29px;
    /* left: 1306px;
    top: 1498px; */
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    /* identical to box height, or 143% */
  
    color: #c31e45;
  }
  