.dalrun_hc {
  .store_payment_info_container {
    margin: 40px;
  }
  .store_payment_info_title {
    margin-bottom: 20px;
  }

  .store_payment_info_subtitle {
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

.dalrun_hc {
  .store_payment_list_container {
    margin-right: 60px;
  }

  .store_payment_item_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .store_payment_item_description_image {
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 10px;
  }

  .store_payment_item_description {
    margin: auto;
    width: 550px;
  }

  .store_payment_item_description_title {
    margin: auto;
    font-weight: 700;
  }

  .store_payment_item_description_sizecolor {
    margin-right: 30px;
  }

  .store_payment_item_quantity {
    // margin: auto;
    padding: 25px 0px 5px 10px;
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: right;

  }

  .store_payment_item_price {
    // margin: auto;
    padding: 15px 0px 0px 10px;
    width: 100px;
    text-align: right;
    font-size: 18px;
    font-weight: 600;
  }

  .payment_progress_container {
    position: relative;
    height: 100px;
  }

  .payment_progress_container2 {
    position: absolute;
    right: 0px;
    margin-top: 60px;
    text-align: right;
    width: 500px;
  }

  .store_payment_total_title {
    color: #333333;
    font-weight: 800;
  }

  .store_payment_total_amount {
    color: #333333;
    font-weight: 800;
  }

  .store_payment_button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    margin: 20px 0px;
    padding: 15px 150px;
    font-size: 22px;
    font-weight: 800;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #333;
    background-color: #fafbfc;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;

    &:hover {
      color: #ffffff;
      background-color: #333;
      border-color: #1b1f2326;
      box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px 0px, rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
      transition-duration: 0.1s;
    }
  }

}







// 결제 완료 페이지

.dalrun_hc {
  .store_payment_success_top_title {
    // margin: auto;
    // width: 100%;
    // justify-content: center;
    // align-items: center;
    text-align: center;
  }

  .store_payment_success_container {
    margin: auto;
    padding: 40px 160px 40px 160px;
    justify-content: center;
  }

  .store_payment_success_subtitle {
    display: flex;
    position: relative;
    margin: 10px;
    border-radius: 10px;
    padding: 30px 20px 0px 20px;
    background-color: #eeeeee;
  }

  .store_payment_success_subtitle_1 {
    position: absolute;
    margin-right: 10px;
    // width: 150px;
  }

  .store_payment_success_subtitle_2 {
    margin: auto;
    width: 450px;
  }

  .store_payment_success_shipping {
    display: flex;
    position: relative;
    margin: 10px;
    border-radius: 10px;
    padding: 30px 20px 0px 20px;
    background-color: #eeeeee;
  }

  .store_payment_success_shipping_1 {
    position: absolute;
    margin-right: 10px;
    // width: 150px;
  }

  .store_payment_success_shipping_2 {
    margin: auto;
    width: 450px;
  }

  .store_payment_success_to_main_div {
    text-align: center;
  }

  .store_payment_success_to_main {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    margin: 0px 0px;
    padding: 15px 150px;
    width: 500px;
    font-size: 22px;
    font-weight: 800;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #333;
    background-color: #fafbfc;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;

    &:hover {
      color: #ffffff;
      background-color: #333;
      border-color: #1b1f2326;
      box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px 0px, rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
      transition-duration: 0.1s;
    }
  }
}