.modal {
    z-index: 100;
}

.modal-backdrop {
    --bs-backdrop-zindex: 80;
}

.modal-content {
    width: auto;
}

.modal-dialog-centered {
    justify-content: center;
}

.modal-dialog {
    // width: 0;
}

// update
.admin_update_container {
    width: 766px;

    .admin_update {
        margin: 0 auto;
        width: 80%;

        .profile_img {
            margin: 0 auto;
            width: 35%;
            padding-bottom: 50px;

            label {
                font-size: 0.9rem;
                color: #0095f6;
            }
        }

        .product_img {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding-bottom: 50px;

            div, li {
                padding: 8px;
            }

            li {
                position: relative;
            }

            button {
                border: none;
                position: absolute;
                background-color: transparent;
                right: 10px;
                top: 10px;
            }
        }

        label {
            font-size: 1.07rem;
            font-weight: 700;
            color: var(--bs-teal);
        }
    }
}