.modal {
    z-index: 100;
}

.modal-backdrop {
    --bs-backdrop-zindex: 80;
}

.modal-content {
    width: auto;
}

.modal-dialog-centered {
    justify-content: center;
}

.modal-dialog {
    // width: 0;
}

.modalInTable {
    .table_link {
        text-decoration: underline;
        color: var(--ptf-accent-4);
    }

    textarea {
        resize: none;
        height: 37px;
        overflow: hidden;
        margin-bottom: 10px;
    }
}

// update
.admin_update_container {
    width: 766px;

    .admin_update {
        margin: 0 auto;
        width: 80%;

        .profile_img {
            margin: 0 auto;
            width: 35%;
            padding-bottom: 50px;

            label {
                font-size: 0.9rem;
                color: #0095f6;
            }
        }

        .product_img {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            div, li {
                padding: 8px;
                position: relative;
            }

            button {
                border: none;
                position: absolute;
                background-color: transparent;
                right: 10px;
                top: 10px;
            }

        }

        .add_padding {
            padding-top: 50px;
        }
        
        label {
            font-size: 1.07rem;
            font-weight: 700;
            color: var(--bs-teal);
        }

        textarea {
            resize: none;
            height: 37px;
            overflow: hidden;
            margin-bottom: 10px;
        }

        .date_flex {
            display: flex;

            input[type="number"] {
                margin-right: 20px;
            }

            button {
                width: 100px;
                border: none;
                background-color: var(--ptf-accent-1);
                border-radius: 7px;
                color: #123;
            }

            input[type="date"] {
                background-color: var(--bs-gray-200);
                color: var(--bs-gray-600);
                border: none;
                border-radius: 7px;
                margin-bottom: 10px;
                padding: 5px 14px;
                line-height: 28px;
            }

            input[type='date']::before {
                content: attr(data-placeholder);
                width: 100%;
            }
              
            input[type='date']:focus::before,
            input[type='date']:valid::before {
                display: none;
            }

            input[type="date"]:first-child {
                margin-right: 20px;
            }
        }
    }
}