.pyr_crewBnt{
    margin-left: 20px;
}

.detailSetup{
    margin-bottom: 3.75rem;
    padding-right: 5%;
    color: var(--ptf-color-black);
    font-size: 1.875rem;
    line-height: 1.6;
    font-weight: 700;
}