.pyr_crewBnt{
    margin-left: 20px;
}

.detailSetup{
   
    color: var(--ptf-color-black);
    font-size: 1.875rem;
    line-height: 1.6;
    font-weight: 700;
    margin-left: 5%;
    margin-right: 20px;
    text-align: center;
  
}

#crewbackground{
    background-repeat: no-repeat;
    background-position: center;
     width: 100%;
     height: 250px;
     margin-top: 100px;
}
.crewheader{
    padding-top: 5%;
     color: white;
    -webkit-text-stroke: 2px black;
}


.A{
padding: 15px 0;
}

.center{
    text-align: center;
    line-height: 50px;
}