#content{
    width: 100%;
    height: 720px;
}
.content_inner2{
    width: 650px;
    height: 580px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
}
.content_inner2 h3{
    width: 520px;
    margin: 30px 0 0 20px;
    color: #123;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.5px;
}
.content_inner2 p {
    width: 520px;
    margin: 30px 0 0 20px;
    color: #6c757d !important;
}
.id{
    display: none;
}
#input_id {
    display: block;
   width: 500px;
    height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    margin: 30px 0 0 20px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da
}
.passward{
    display: none;
}
#input_pw {
    display: block;
    width: 500px;
    height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    margin: 15px 0 0 20px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.chk{
    display: inline;
}

.chke {
    display: inline;
    outline: none;
    color: #123;
    font-size: 14px;
}
.check {
    width: 520px;
    margin: 15px 0 0 23px;
}
.login_button {
    width: 500px;
    height: 50px;
    cursor: pointer;
    color: #fff;
    background-color: #174cc8;
    font-size: 16px;
    margin: 15px 0 0 30px;
    display: block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
.forget_pw {
    display: inline-block;
    margin-top: 10px;
    margin-left: 270px;
}
.forget_pw a{
    color: #007bff;
    background-color: transparent;
    font-size: 14px;
}
.forget_pw2{
    position: relative;
    top: 3px;
    display: inline-block;
    width: 652px; 
    height: 115px; 
     background-color: rgba(0,0,0,0.03);
    border-top: 1px solid rgba(0,0,0,0.125);
    margin-top: 34px;
}
.forget_pw2 a{
    display: inline-block; 
     margin: 20px 0 0 30px;
    color: #007bff;
    background-color: transparent;
    font-size: 14px;
}
.forget_pw a:hover {
    color: #007bff;
    background-color: transparent;
    text-decoration:line-through;
}
.logo3{
    width: 100px;
    height: 100px;
}
