/*main.css 내용으로 대체*/
.Signup-wrap {
    width: 560px;
    
    min-height:100vh;
    margin: 0 auto;
    background: white;
    border: 2px solid rgb(173, 166, 166);
    border-radius: 10px;
    
    }
    
    ::-webkit-scrollbar {
        display: none;
      }
    
    .bg{
        background: rgb(240,240,240);
        min-height:100vh;
    }
    
    .Signup-header {
        height: 72px;
        width: 100%;
        /* background: coral; */
        position: relative;
        bottom: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid grey;
        font-size: 1.5rem;
    }
    
    .Signup-logo {
        width: 400px;
        height: 400px;
        /* background: darkkhaki; */
        background-image: url("../img/logo.png");
        background-size: cover;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 40px;
        border-radius: 10px;
        position: relative;
    }
    
    
    
    .Signup-button {
        width: 256px;
        height: 100px;
        margin: 0 auto;
        /* background: gainsboro; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .Signup-backicon {
        width: 60px;
        height: 72px;
        /* background: darkgrey; */
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    
    /*가이드 바 CSS시작*/
    .Signup-guidebar {
        margin: 0px auto;
        width: 400px;
        height: 100px;
        /* background: wheat; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .guideline {
        height: 1px;
        background: black;
        width: 40px;
        margin-left: 5px;
        margin-right: 5px;
    }
    /*가이드 바 CSS끝*/
    
    
    
    
    /*인풋 CSS*/
    .Signup-inputwrap{
        width: 256px;
        height: 100%;
        /* background-color: aquamarine; */
        margin: 0 auto;
    }
    /*인풋 CSS 끝*/
    
    
    /*개인정보 제공동의 CSS*/
    .Signup-acceptwrap {
        width: 256px;
        height: 250px;
        /* background: darkorange; */
        margin: 0 auto;
        margin-top: 20px;
        padding: 1px;
    }
    
    .Signup-checkbox{
        width: 100%;
        height: 25px;
        /* background: darkolivegreen; */
        margin: 10px auto;
    }
    
    .Signup-contentbox {
        width: 100%;
        margin: 0 auto;
        height: 130px;
        border : 1px solid gainsboro;
        margin-top:30px;
        padding: 5px;
    }
    .left {
        width: 20%;
        height: 25%;
        background: white;
        float: left;
    }
    .right {
        width: 80%;
        height: 25%;
        background-color: white;
        float: left;
    }
    .left span{
        font-size: 12px;
        color: grey;
    }
    .right span {
        font-size: 12px;
    }
    
    .contentbar{
        width: 100%;
        height: 25%;
    }
    /*개인정보 제공 동의 CSS 끝*/
    
    
    /*버튼*/
    .btn-custom {
        width: 100%;
        height: 30px;
        border-radius: 5px;
        border-width: 1px;
        border-color: rgba(138, 138, 138, 0.533);
        background-color: white;
    }
    .btn-custom:hover{
        background: black;
        color : white;
        transition: all 0.3s;
    }
    .btn-custom:disabled {
        pointer-events: none;
    }
    
    .btn-custom2 {
        margin: 10px;
        width: 50%;
        height: 30px;
        border-radius: 5px;
        border-width: 1px;
        border-color: rgba(138, 138, 138, 0.533);
        background-color: white;
    }
    .btn-custom2:hover {
        background: gainsboro;
        transition: all 0.5s;
    }
    /*버튼관련 CSS 끝*/
    
    
    
    /*회원가입 성공 페이지 CSS*/
    .Signup-Successbox{
        width: 400px;
        height: 720px;
        margin: 0 auto;
        /* background: darkmagenta; */
        position: relative;
    }
    
    .Signup-SuccessMessage{
        width: 100%;
        height: 70px;
        position: absolute;
        /* background: darkcyan; */
        text-align: center;
        transition: all 1s;
        top : 20px;
        opacity: 1;
    
    }
    /*회원가입 성공 페이지 CSS 끝*/
    
    .btn-bd-primary {
        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet);
        --bs-btn-border-color: var(--bd-violet);
        --bs-btn-border-radius: .5rem;
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
        --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
        --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
      }