
#likeimg :before{
    content:  "\e028";
}

.comp_con {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .con_title {
        font-size: 1.5rem;
    }

    .comp_local {
        font-size: 0.9rem;
        font-weight: 600;
        color: #454545;
    }

    .comp_date {
        font-size: 0.8rem;
    }
}

.comp_detail {
    .comp_img {
        align-items: center;
    }

    .comp_desc {
        font-size: 1.5rem;
    }
}