.diary-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
  padding: 0;
}

.diary-list-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10%;
  background-color: #F6FDF8;
}

.diary-list-item.first-place {
  display: flex;
  padding-top: 1rem;
  height: 10%;
  background-color: #F6FDF8;
}

.diary-list-items {
  display: flex;
  flex-direction: column;
  height: 75%;
  overflow-y: auto;
}

.diary-list-pagination {
  display: flex;
  justify-content: center;
  height: 5%;
  margin-bottom: 0.4rem;
}

.diary-list-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid #cccccc;

  :hover{
    background-color: #9de9cc;
    cursor: pointer;
  }
}

.diary-list-item-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.diary-list-item-info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.diary-list-item-date,
.diary-list-item-distance,
.diary-list-item-time {
  display: inline-block;
  margin-right: 5px;
}

